
@{
    ViewData["Title"] = "pg_header";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="pg_header">
    <div class="logo left">
        <a href="https://www.google.com" target="_blank">
            <img src="images/logo.png">
        </a>
    </div>
    <div class="person_info right">
        <img src="images/head.jpg">
        <div class="info">
            <a>我的信息</a>
            <a>注销</a>
            <a>修改密码</a>
            <a>修改头像</a>
        </div>
    </div>
    <div class="icons right">
        <i class="far fa-bell"></i>
    </div>
    <div class="icons right">
        <i class="far fa-envelope"></i>
        <span>3</span>
    </div>
</div>

